h1{
    color:green;
}

p{
    color:maroon
}

button{
    color:darkblue
}

button{
    background-color: rgb(191,34,115);
}

body{
    background-color:bisque;
}

button{
    background-color:#00ff00;
}

button{
    background-color:#ffff00;
}

body{
    background-color:#ffDABA;
}